<%= form_for [@add_song, SongsInPlaylist.new] do |f| %>
    <div class="text-white">
    <%= f.label "Add to playlist" %>
    <%= f.collection_select :playlist_id, current_user.playlists, :id, :name, {class: "dropdown-menu-dark"}  %>
    <%= f.hidden_field :song_id, :value => @song.id %>
    <%= f.submit value: "Add", class: 'btn btn-success btn-sm'%>
    </div>
<% end %>