<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <%= error %>
    <% end %>
<% end %>

<h1>Create a Profile</h1>

<%= form_for @user do |f| %>
    <%= f.label  :username %>
    <%= f.text_field :username %>

    <%= f.label  :password %>
    <%= f.password_field :password %>

    <%= f.label  :email %>
    <%= f.text_field :email %>

    <%= f.submit %>
<% end %>

    