<h1><%=@song.name%></h1>
by <%=link_to @song.album.artist.name, artist_path(@song.album.artist)%> <br><br>


<h4>Playlists that also have this song!</h4>
<%= render partial: "playlists/playlists", locals: {playable: @song}%>
<%= render partial: "playlists/form", locals: {playable: @song}%>


<%= link_to "Back to Songs List", songs_path%>