<h1 class="text-white"><%=@song.name%></h1>
<div class="text-white">by <%=link_to @song.album.artist.name, artist_path(@song.album.artist), class: 'text-white'%> </div><br><br>

<%= render partial: "songs_in_playlists/new" %> 
<div class="form-group row text-white">
<% if flash[:errors] %>
    <%= "song already added to playlist" %>
<% end %>
</div><br>

<%# <%= link_to "Back to Songs List", songs_path%> %>