<h1><%=@playable.name%></h1>
by <%=link_to @playable.album.artist.name, artist_path(@playable.album.artist)%> <br><br>


<h4>Playlists that also have this song!</h4>
<%# <%= render partial: "playlists/playlists", locals: {playable: @song}%> %>
<%= render partial: "playlists/form", locals: {playable: @song}%>
<%= render partial: "playlists/add", locals: {playable: @song}%>

<%= link_to "Back to Songs List", songs_path%>